* {
  box-sizing: border-box;
}

:root {
  --backgroundColor-body: #f4f8fb;
  --color-button: #79c6ca;
  --color-button-dark: #5c979a;
  --backroundColor-button: #edf6f8;
  --img-size: 100px;
}

body {
  background-color: var(--backgroundColor-body);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.containerUserInfo {
  display: flex;
  gap: 50px;
  align-items: center;
}

.userImg {
  width: var(--img-size);
  height: var(--img-size);
  border-radius: 50%;
  object-fit: cover;
}

.buttonDelete {
  border: none;
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
  color: var(--color-button);
  background-color: var(--backroundColor-button);
  font-weight: bolder;
}

.buttonDelete:hover {
  color: var(--color-button-dark);
}

.selectedTrue {
  box-shadow: 0 5px 10px 0 rgba(92, 124, 213, 0.16),
    0 2px 10px 0 rgba(31, 73, 189, 0.12);
}

@media screen and (max-width: 400px) {
  .item {
    display: grid;
    justify-items: center;
    justify-content: center;
  }
  .containerUserInfo {
    display: block;
    padding: 10px;
    text-align: center;
  }
}
